*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-form-sec, .login-form-sec{
    width: 100%;
    min-height: 100vh;
    background: #6a11cb;
    background:linear-gradient(
        to right, rgba(106, 17, 203, 1),
        rgba(37, 117, 252, 1)
    );  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#register-form, #login-form{
    width:60%;
    height: fit-content;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 20px 30px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.322);
}

.form-input{
    position: relative;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
}

.form-input label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
}

.form-input input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
}

.form-input input:focus ~  label,
.form-input input:valid ~  label{
    top: 1px;
    transform: translateY(-50%) scale(0.9);
    padding: 0 0.7em;
    border-radius: 3px;
    color: black;
    font-size: .9rem;
    font-weight: 500;
    background:linear-gradient(
        to right, rgba(106, 17, 203, 1),
        rgba(37, 117, 252, 1)
    );
}

form button{
    background: linear-gradient(
        to right, rgba(106, 17, 203, 1),
        rgba(37, 117, 252, 1));
    padding: 10px 30px;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.409);
}

.login-img{
    width: 40%;
    /* border: 1px solid ; */
}

.login-img img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.reg-nav a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 0 10px;
}

.reg-nav a:hover{
    text-decoration: underline;
    color: black;
}


@media screen and ( max-width : 600px ) {
    #register-form, #login-form{
        width: 80%;
    }

    .login-img{
        display: none;
    }
}


/*  =========================sidebar ================== */

.sidebar{
    width: 250px;
    height: 100vh;
    background: linear-gradient(
        to right, rgba(106, 17, 203, 1),
        rgba(37, 117, 252, 1));
}

.sidebar nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile{
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    /* border: 1px solid; */
}

.profile .profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    background-color: white;
}

.nav-links{
    list-style: none;
    padding: 0;
}

.nav-links li{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    cursor: pointer;
    /* border: 1px solid; */
}



.nav-links a{
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
}

.nav-links a:hover{
    color: rgba(255, 255, 255, 0.703);
}